Package: com.scnotify.diag
Name: SnapNotify
Version: 4.0.0~rc3
Architecture: iphoneos-arm64
Description: Local notification bridge with validated event adapters (experimental)
Maintainer: tomyrms
Author: tomyrms
Section: Tweaks
